.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 14px 20px;
  height: 55px;
  border-radius: 18px;

  @include hover {
    background-color: color-mix(
      in srgb,
      rgb(104, 246, 64) 30%,
      var(--color-green-20)
    );
  }
}

.small {
  border-radius: 110px;
  width: 178px;
  height: 47px;
  background-color: var(--color-green-20);
}

.medium {
  width: 245px;
}

.large {
  width: 325px;
}
