input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input {
  padding: 5px 15px;
  padding-inline: 40px;
  border: var(--border);
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  height: 45px;

  &::placeholder {
    opacity: 0.4;
  }

  @include mobile-s {
    max-width: 100%;
    width: 320px;
  }
}

.root {
  position: relative;

  svg.closeIcon {
    left: calc(100% - 35px);
    pointer-events: all;
    cursor: pointer;
  }

  svg {
    position: absolute;
    left: 10px;
    top: 50%;
    translate: 0 -50%;
    opacity: 0.4;
    pointer-events: none;
  }
}
