.wrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 100%;
  padding: 30px;
  background-color: var(--color-light);
  color: var(--color-black);
  box-shadow: -10px 4px 24px 0 rgba(0, 0, 0, 0.1);

  h2 {
    font-size: fluid(20, 24);
    font-weight: 700;
  }

  h3 {
    font-size: fluid(18, 24);
    font-weight: 700;
  }
}

.items {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  row-gap: 20px;
  min-height: 120px;
  margin-block: 30px;
  padding-block: 10px;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  width: 325px;
  height: 120px;
  padding: 20px;
  border: var(--border);
  border-radius: 20px;
  font-size: 14px;

  img {
    width: 70px;
    height: 70px;
  }

  &Info {
    display: grid;
    max-width: 150px;
    row-gap: 8px;
    margin-left: 8px;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  font-size: 14px !important;
  font-weight: 400 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.price {
  font-weight: 700;
}

.buttonDelete {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  align-self: flex-end;

  svg {
    transition-duration: var(--transition-duration);
    color: var(--color-gray-40) !important;

    @include hover {
      color: var(--color-gray-10) !important;
    }

    stroke: white;
    color: #f3f3f3;
    cursor: pointer;

    rect {
      fill: white;
    }
  }
}

.total {
  display: grid;
  row-gap: 25px;
  font-size: fluid(14, 16);

  &Rows {
    display: grid;
    row-gap: 20px;
  }

  &Row {
    display: flex;
    justify-content: space-between;
  }

  &ButtonText {
    text-transform: none;
  }

  &Key {
    display: flex;
    text-wrap: nowrap;
    align-items: baseline;
    flex-grow: 1;
  }

  &Key::after {
    content: "";
    width: 100%;
    margin-inline: 0.3em;
    border-bottom: 2px dotted #dfdfdf;
  }
}

.iconArrow {
  position: absolute;
  right: 35px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
}

.cartEmpty {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  img {
    --size: 120px;

    @include square(var(--size));

    margin-bottom: 10px;
  }

  &Title {
    color: var(--color-black);
    font-size: fluid(18, 22);
    font-weight: 600;
  }

  &Info {
    color: var(--color-black);
    text-align: center;
    font-size: fluid(14, 16);
    font-weight: 400;
    line-height: 150%;
    opacity: 0.5;
    margin-bottom: 30px;
  }

  &Button {
    &Icon {
      position: absolute;
      left: 30px;
    }

    &Text {
      text-transform: none;
    }
  }
}

.cartOrderedTitle {
  color: #87c20a;
  font-size: 22px;
  font-weight: 600;
}
