@font-face {
  font-family: "BeVietnamPro";
  src: url("../fonts/BeVietnamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("../fonts/BeVietnamPro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("../fonts/BeVietnamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
