.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: fluid(20, 45);

  background-color: var(--color-beige);
  max-width: fluid(850, 960);
  border-radius: 20px;
  width: 100%;

  @include tablet {
    max-width: 715px;
  }

  @include mobile {
    flex-direction: column;
  }
}

.logo {
  margin-bottom: 32px;
}

.info {
  display: grid;
  justify-items: center;
  max-width: 280px;
  width: 100%;
  row-gap: 10px;
  padding-left: fluid(20, 40);

  @include mobile {
    padding-left: 0;
    padding-block: 20px;
  }
}

.title {
  font-size: fluid(30, 38);

  @include mobile {
    text-align: center;
  }
}

.image {
  position: relative;
  right: -20px;
  width: 100%;
  height: fluid(250, 350);

  @include tablet {
    max-width: 460px;
  }

  @include mobile {
    max-width: unset;
    right: 0;
    width: calc(100% + 32px);
    background-color: var(--color-beige);
    height: auto;
    height: 300px;
    max-height: 400px;
  }

  @include mobile-s {
    height: 220px;
  }
}

.sliderButton {
  --size: 35px;

  position: absolute;
  right: -17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: var(--color-light);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.146);

  @include square(var(--size));

  @include mobile {
    right: 0;
  }

  &Back {
    left: -17px;

    @include mobile {
      left: 0;
    }
  }

  &Buy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: 14px 20px;
    height: 55px;
    border-radius: 18px;

    @include hover {
      background-color: color-mix(
        in srgb,
        rgb(104, 246, 64) 30%,
        var(--color-green-20)
      );
    }

    border-radius: 110px;
    width: 178px;
    height: 47px;
    background-color: var(--color-green-20);
  }
}

.green {
  color: #8bb43c;
}
